<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Connection" connectionString="Data Source=ROMAN-PC\SQLEXPRESS;Initial Catalog=EY;Integrated Security=true"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="FilesFolder" value="files" />
    <add key="TableName" value="TextFile" />
  </appSettings>
</configuration>